# =========================
# IDE
# =========================

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# =========================
# Build / Maven / Gradle
# =========================

target/
build/
out/

# Gradle
.gradle/

# =========================
# Compiled files
# =========================

*.class
*.jar
*.war
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================

*.swp
*.tmp
*.bak
*.orig